*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  body{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
  }
  
  .pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    border-radius: 10px;
    border: 1px solid #b99470;
  }
  
  .pricing-card-header{
    background-color: #b99470;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
  }
  
  .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 24em #cfab87;
  }
  
  .price{
    font-size: 70px;
    color: #b99470;
    margin: 40px 0;
    transition: .2s linear;
  }
  
  .price sup, .price span{
    font-size: 22px;
    font-weight: 700;
  }
  
  .pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
  }
  
  .pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  
  .order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
   margin-left: 900px;
    border: 2px solid #b99470;
    color: #b99470;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
  }
  
  .order-btn:hover{
    background-color: #b99470;
    color: #fff;
  }
  
  @media screen and (max-width:1100px){
    .pricing-card{
      flex: 50%;
    }
    .pricing-table{
      margin-top: 45px;
    }
  
  }
.Back{
    display:flex;
    
    margin-bottom: 10px;
   border: 2px solid #b99470;
    color: #b99470;
    padding: 18px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;

}

.Back:hover{
    background-color: #b99470;
    color: #fff;
}