body{
    background-image: url();
    background-size: 99em 50em;
    background-repeat: no-repeat;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .menus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
}
.pic{
  position: block;
}


.pic img{
     margin-top: 50px;
     opacity: 1;
     margin-left: 15px;
     width:500px;
     height:500px;
    border-radius: 50%;
}
 
     

.menu:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .content{
    position:absolute;
    left: 55%;
    top: 15em;
    right: 5em;
  }
.welcome{
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
}
.content{
  line-height: 200%;
  text-align: justify;
}
.none1{
  display: none;
}
@media screen and (max-width: 1300px) {
  .content {
   left:10%;
   top: 10em;
   min-width: 41em;
  }
}


@media screen and (max-width: 900px) {
  .none{
    display: none;
   }
   .welcome{
    position: absolute;
    left: 17%;
   }
   .nav{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
   }
   .menus{
    flex-direction: column;
   }
   .signin{
    margin-top: 1em;
    margin-left: -4%;
   }
   .logo{
    margin-left: -8%;
    margin-top: 2%;
   }
   

}
@media screen and (max-width: 600px) {
  .none1{
    display: block;
   }
   .welcome{
    position: absolute;
    left: 25%;
   }
}
a{
  text-decoration: none;
  color: black;
}